
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #DDD;
    color: gray;
    text-align: center;
}

.brandstyle {
    align: middle;
}

.red {
	color: red;
}

.black {
	color: black;
}

.orange {
	color: orange;
}

.green {
	color: green;
}